<!--  Messages are received. Recieve more than messages-->

{{#each messages.error}}
<div class="alert alert-danger">{{this}}</div>
{{/each}}


{{#each messages.success}}
<div class="alert alert-danger">{{this}}</div>
{{/each}} 

<!---Having the #each messages.success is going to allow us to use them anywhere in our login and registration form/>

